.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.h2-title {
  color: green;
  position: absolute;
  margin-top: 30px;
  width: 100%;
}

.img-logo {
  width: 95px;
  height: 95px;
  float: left;
  position: static;
}

.header-div {
  height: 95px;
}

.menubar-div {
  border: 1px solid gray;
  background: red;
  border-left: 1px solid gray;
}

.menubar-ul {
  list-style-type: none;
  padding: 5px;
  margin-bottom: 30px;
}

.menubar-li {
  display: inline;
}

.display-inline {
  display: inline;
}

.border-right-grey {
  border-right: 1px solid gray;
}

.border-left-grey {
  border-left: "1px solid gray";
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-link-icon {
  color: #007bff;
  margin-left: 5px;
  text-decoration: none;
}
.paddinglarge {
  padding: 10px;
}

.padding-5 {
  padding: 10px;
}

.margin-botton-tp {
  margin-botton: 10px;
}

.container-left {
  width: 50%;
  display: inline;
  float: left;
}

.container-right {
  width: 49%;
  display: inline;
  float: left;
  borderleft: 1px solid gray;
}

.width-100 {
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
